.home_text{
	font-size: 23.8888px;
	margin-top: 40px;
	text-align: center;
}

.home_header{

	text-align: center;
	background-color: darkred;
	padding-top: 20px;
	padding-bottom: 30px;
}

.header_text{
	color: white;
}


.navbar{
	
	background-color: black;

}

li{
	display: inline;
	text-align: center;
	width: 60px;
	padding: 60px;
	margin-left: 50px;
	font-size: 27px;
}

a{
	color: white;
}

.music1{
	margin-bottom: 80px;
}

.apple{
	height: 225px;
	width: 225px;
}

.contact_pic{
	height: 400px;
	width: 225px;
}

.phone_pic{
	height: 37px;
	width: 17px;
}

.phone_number{
	display: inline;
}

.mail_pic{
	height: 37px;
	width: 37px;
}


.webdesign{
	float: right;
	margin-top: 20px;
	height: 225px;
}


.music_text{
	font-size: 32px;
	margin-bottom: 80px;
}



